@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

*::-webkit-scrollbar {
    display: none;
  }
  
  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }